@charset "UTF-8";
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Poppins;
  background: #0D0D11;
  font-weight: 300;
  color: #9C9C9C;
}
body .wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body .page {
  flex: 1 1 auto;
}
body [class*=__container] {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
body .title {
  font-weight: 500;
  line-height: 120%;
  color: #FFFFFF;
}
@media (max-width: 479.98px) {
  body .title {
    font-size: 29px;
  }
}
body .text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #9C9C9C;
}
body .button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 15px 36px;
  border-radius: 50px;
  background: #3D96F4;
  transition: all 0.3s ease 0s;
}
body .button:hover {
  background: #0e7df4;
}
body .button-dark {
  background: rgba(129, 129, 139, 0.2);
}
body .button-dark:hover {
  background: rgba(197, 197, 212, 0.2);
}
body .butons-block {
  display: flex;
}
body .label {
  display: inline-block;
  font-weight: 300;
  font-size: 10.8px;
  line-height: 160%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9C9C9C;
  padding: 11px 19px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
}
body .label:hover {
  border: 1px solid rgba(55, 238, 128, 0.2);
  color: rgba(55, 238, 128, 0.819);
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(13, 13, 17, 0.8156862745);
  z-index: 100;
}

.header__body {
  display: flex;
  align-items: center;
  min-height: 116px;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.header__logo:hover img {
  max-width: 100%;
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  justify-content: end;
  -moz-column-gap: 35px;
       column-gap: 35px;
}

.menu__link,
.cart-header__text {
  line-height: 160%;
  color: #FFFFFF;
}
.menu__link:hover,
.cart-header__text:hover {
  text-decoration: underline;
}

.cart-header__text {
  font-size: 18px;
  letter-spacing: 0.96px;
}

.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-header__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  background: rgba(129, 129, 139, 0.3);
  border-radius: 30px;
  color: #FFFFFF;
}

.header__button {
  flex: 0 0 auto;
}

.icon-menu {
  display: none;
}

.header__logo,
.cart-header__quantity,
.button {
  position: relative;
  z-index: 5;
}

/*tablet*/ 
@media (max-width: 991.98px) {
  .header__body,
.menu__list {
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
  .header__button.button {
    padding: 10px 20px;
  }
  .header__body {
    min-height: 90px;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background: #0D0D11;
    padding: 100px 15px 30px;
    overflow: auto;
    transition: left 0.3s ease 0s;
  }
  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    top: 0;
    background: #0D0D11;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 15px 30px;
  }
  .menu__link {
    font-size: 32px;
  }
  .cart-header__text {
    display: none;
  }
  .cart-header__quantity {
    width: 32px;
    height: 40px;
    padding-top: 15px;
    border-radius: 0;
    background: url("../img/header/basket.svg") center/auto 100% no-repeat;
  }
  .header__body {
    gap: 10px;
  }
  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
.icon-menu:before,
.icon-menu:after {
    content: "";
    position: absolute;
    right: 5px;
    width: 100%;
    height: 2px;
    background: #FF6D35;
    transition: left 0.3s ease 0s;
  }
  .icon-menu span {
    top: calc(50% - 1px);
    background: #3D96F4;
  }
  .icon-menu:before {
    top: 0;
  }
  .icon-menu:after {
    background: #5CC97B;
    bottom: 0;
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu:before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu:after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .menu__body,
.menu-open .menu__body:before {
    left: 0;
  }
}
@media (max-width: 479.98px) {
  .header__logo {
    width: 40px;
    flex: 0 0 40px;
    overflow: hidden;
  }
  .menu__list {
    padding: 0;
  }
}
.main {
  padding: 160px 0 100px;
}

.main__container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.main__content,
.main__images {
  flex: 0 1 50%;
}

.main__content {
  position: relative;
}

.main__content:before {
  content: "";
  position: absolute;
  left: -30px;
  top: -20px;
  width: 122px;
  height: 122px;
  background: url("../img/decor.svg") 0 0 no-repeat;
  z-index: -1;
}

.main__title {
  max-width: 506px;
}

.main__title:not(:last-child) {
  margin-bottom: 28px;
}

.main__text {
  max-width: 491px;
  margin-bottom: 33px;
}

.main__butons {
  gap: 32px;
}

.images-main {
  display: flex;
  justify-content: center;
  gap: 9.615385%;
}

.images-main__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images-main__item img {
  max-width: 100%;
}

.images-main__item {
  overflow: hidden;
}

.main__item-1,
.main__item-4 {
  border-radius: 378px;
}

.main__item-2 {
  border-radius: 241.906px 241.906px 0px 241.906px;
}

.main__item-3 {
  border-radius: 241.906px 0px 241.906px 241.906px;
}

/*tablet*/ 
@media (max-width: 991.98px) {
  .main {
    padding: 80px 0 60px;
  }
  .main__container,
.main__butons {
    flex-direction: column;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .main {
    padding: 100px 0 20;
  }
}
.clients {
  padding: 100px 0;
}

.clients__container .clients__title {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}
.clients__container .clients__title:not(:last-child) {
  margin-bottom: 45px;
}

.clients__items {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.clients__item:hover img {
  max-width: 100%;
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

/*pc*/ 
/*tablet*/ 
@media (max-width: 991.98px) {
  .clients__items {
    justify-content: center;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .clients {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .clients {
    padding: 20px 0;
  }
}
.services {
  padding: 100px 0;
}

.services__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.services__label:not(:last-child) {
  margin-bottom: 30px;
}

.services__title:not(:last-child) {
  margin-bottom: 15px;
}

.services__text {
  max-width: 520px;
  margin-bottom: 33px;
}

.items-services {
  display: flex;
  gap: 32px;
}

.colum-bottom {
  padding-top: 48px;
}

.items-services__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.services__item {
  max-width: 320px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.services__item:hover {
  background: rgba(129, 129, 139, 0.07);
}

.item-services {
  display: block;
  padding: 55px 25px 60px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}

.item-services__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 75.59px;
  height: 75.59px;
}

.item-services__icon:not(:last-child) {
  margin-bottom: 16px;
}

.item-services-1:hover .icon-1 {
  background: rgba(24, 32, 43, 0.5568627451);
  border: 2px solid #18202B;
}

.item-services-2:hover .icon-2 {
  background: rgba(38, 36, 32, 0.5568627451);
  border: 2px solid #262420;
}

.item-services-3:hover .icon-3 {
  background: rgba(39, 30, 30, 0.5568627451);
  border: 2px solid #271E1E;
}

.item-services-4:hover .icon-4 {
  background: rgba(29, 36, 35, 0.5568627451);
  border: 2px solid #1D2423;
}

.icon-1 {
  background: #18202B;
}

.icon-2 {
  background: #262420;
}

.icon-3 {
  background: #271E1E;
}

.icon-4 {
  background: #1D2423;
}

.item-services__title {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 140%;
  color: #FFFFFF;
}

.item-services__title:not(:last-child) {
  margin-bottom: 10px;
}

.item-services__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #81818B;
}

/*pc*/ 
@media (max-width: 1087px) {
  .services__container {
    flex-direction: column;
  }
  .services__content {
    width: 100%;
  }
  .services__text {
    max-width: 100%;
  }
}
/*tablet*/ 
@media (max-width: 991.98px) {
  .services {
    padding: 70px 0;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .services {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .items-services {
    flex-direction: column;
  }
  .item-services {
    padding: 40px 25px;
  }
  .colum-bottom {
    padding-top: 10px;
  }
  .services {
    padding: 20px 0;
  }
}
.why {
  padding: 110px 0 100px;
}

.why__container {
  display: flex;
  align-items: center;
  gap: 64px;
}

.why__images,
.why__content {
  flex: 0 1 50%;
}

.images-why {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.images-why:before {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -5px;
  height: 122px;
  width: 122px;
  background: url("../img/decor.svg") 0 0 no-repeat;
  z-index: -1;
}

.images-why__item img {
  max-width: 100%;
}

.images-why__item {
  overflow: hidden;
}

.why-item-1 {
  border-radius: 677px 0px 313px 378px;
}

.why-item-2 {
  border-radius: 181.438px 181.438px 181.438px 0px;
}

.content-why__label {
  margin-bottom: 43px;
}

.why__title:not(:last-child) {
  margin-bottom: 40px;
}

.title {
  font-size: 51.2px;
}

.why__text {
  margin-bottom: 35px;
}

.whi__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.whi__item {
  display: flex;
  align-items: center;
  padding-left: 42px;
  position: relative;
  min-height: 32px;
}
.whi__item:hover {
  color: #fff;
}

.whi__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.1) url("../img/why/check.svg") center 50% no-repeat;
}

/*pc*/ 
@media (max-width: 1087px) {
  .why__container {
    gap: 30px;
  }
}
/*tablet*/ 
/*mobile*/
@media (max-width: 767.98px) {
  .why {
    padding: 50px 0;
  }
  .why__container {
    flex-direction: column-reverse;
  }
}
@media (max-width: 479.98px) {
  .why {
    padding: 20px 0;
  }
}
.advantages {
  padding: 100px 0;
}

.advantages__container {
  display: flex;
  gap: 32px;
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 0 1 58%;
  gap: 32px;
}

.advantages__item {
  padding: 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
}
.advantages__item:hover {
  background: rgba(129, 129, 139, 0.029);
  border: 1px solid #FE940D;
  padding: 39px;
}

.item-advantages__value {
  font-weight: 500;
  font-size: 51.2px;
  line-height: 120%;
  color: #FFFFFF;
}

.item-advantages__value:not(:last-child) {
  margin-bottom: 32px;
}

.item-advantages__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #9C9C9C;
}

.advantages__image {
  border-radius: 0px 443px 378px 378px;
  overflow: hidden;
}
.advantages__image img {
  max-width: 100%;
}

/*pc*/ 
@media (max-width: 1087px) {
  .advantages__container {
    align-items: center;
  }
}
/*tablet*/ 
@media (max-width: 991.98px) {
  .advantages__container {
    flex-direction: column;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .advantages__items {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 479.98px) {
  .advantages {
    padding: 40px 0;
  }
}
.testimonials {
  padding: 100px 0 190px;
}

.testimonials__content:not(:last-child) {
  margin-bottom: 80px;
}

.testimonials__content-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.testimonials__label:not(:last-child) {
  margin-bottom: 25px;
}

.block-header .testimonials__title:not(:last-child) {
  margin-bottom: 12px;
}

.testimonials__text {
  max-width: 736px;
}

.testimonials__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3.8%;
       column-gap: 3.8%;
  row-gap: 30px;
}

.item-testimonials {
  padding: 64px 40px;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.item-testimonials:hover {
  background: rgba(129, 129, 139, 0.036);
}

.item-testimonials__author {
  display: flex;
  align-items: center;
  gap: 16px;
}

.author-item__avatar {
  overflow: hidden;
}

.avatar-1 {
  border-radius: 0px 68.0312px 68.0312px 68.0312px;
}

.avatar-2 {
  border-radius: 68.0312px 0px 68.0312px 68.0312px;
}

.avatar-3 {
  border-radius: 68.0312px 68.0312px 0px 68.0312px;
}

.author-item__name {
  line-height: 150%;
  color: #FFFFFF;
}

.author-item__name :not(:last-child) {
  margin-bottom: 7px;
}

.author-item__company {
  font-size: 14px;
  line-height: 160%;
  color: #9C9C9C;
}

.item-testimonials__titlle {
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: #FFFFFF;
}

.item-testimonials__text {
  line-height: 150%;
  color: #9C9C9C;
  height: 100%;
}

.simple-rating {
  position: relative;
  font-size: 24px;
  display: inline-block;
  max-width: 100px;
}

.simple-rating:before {
  content: "★★★★★";
  display: block;
}

.simple-rating__items {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating__item {
  position: absolute;
  width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}

.simple-rating__label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f3cd94;
}

.simple-rating__label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
  color: #FBB040;
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__label:checked ~ .simple-rating__label:hover {
  color: #faa11a;
}

/*tablet*/ 
@media (max-width: 991.98px) {
  .testimonials__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .testimonials__content-body {
    flex-direction: column;
    align-items: center;
  }
  .testimonials__text {
    margin-bottom: 30px;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .testimonials {
    padding: 40px 0 60px;
  }
  .item-testimonials {
    gap: 25px;
    padding: 40px;
  }
  .testimonials__content:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .testimonials {
    padding: 40px 0;
  }
  .item-testimonials__titlle {
    font-size: 29px;
  }
  .item-testimonials {
    padding: 40px 20px;
  }
}
.news {
  padding: 100px 0;
}

.news__label:not(:last-child) {
  margin-bottom: 25px;
}

.news__content-body {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.news__content-body:not(last-child) {
  margin-bottom: 64px;
}

.news__title {
  max-width: 395px;
}

.news__title:not(:last-child) {
  margin-bottom: 12px;
}

.news__text {
  max-width: 768px;
}

.news__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  -moz-column-gap: 3.8%;
       column-gap: 3.8%;
  row-gap: 25px;
}

.item-news {
  display: flex;
  flex-direction: column;
  background: #19191D;
  border-radius: 20px;
  overflow: hidden;
}

.item-news__image-link {
  position: relative;
}

.item-news__image {
  position: relative;
  display: block;
  padding-bottom: 49%;
}
.item-news__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-news__catigory {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: 38px;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  display: inline-flex;
  align-items: center;
  color: #FFFFFF;
  padding: 9px 10px;
  background: rgba(129, 129, 139, 0.5);
  border-radius: 0px 10px 0px 0px;
}

.item-news__content {
  display: flex;
  flex-direction: column;
  padding: 36px 26px 40px;
  flex: 1 1 auto;
}

.item-news__date {
  line-height: 150%;
  color: rgba(129, 129, 139, 0.9);
}

.item-news__date:not(:last-child) {
  margin-bottom: 20px;
}

.item-news__title {
  font-weight: 400;
  font-size: 19.2px;
  line-height: 140%;
  color: #FFFFFF;
}

.item-news__title:not(:last-child) {
  margin-bottom: 30px;
}

.item-news__text {
  line-height: 150%;
  color: #9C9C9C;
  height: 100%;
}

.item-news__text:not(:last-child) {
  margin-bottom: 21px;
}

.item-blog__link {
  display: inline;
  font-size: 14px;
  line-height: 160%;
  color: #3D96F4;
}
.item-blog__link:hover {
  text-decoration: underline;
}

/*pc*/ 
/*tablet*/ 
@media (max-width: 991.98px) {
  .news__content-body {
    flex-direction: column;
  }
  .news__title,
.news__text {
    max-width: 100%;
  }
  .news__content-body {
    align-items: center;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .news {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .news {
    padding: 20px 0;
  }
}
.business {
  padding: 140px 0;
}

.business__body {
  display: flex;
  align-items: center;
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  gap: 20px;
  padding: 52px 20px;
}

.business__content,
.business__buttons {
  flex: 0 1 50%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.business__buttons {
  display: flex;
  gap: 6.2%;
}

.business__block {
  max-width: 355px;
  text-align: center;
}

.business__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 140%;
  color: #FFFFFF;
}

.business__title:not(:last-child) {
  margin-bottom: 16px;
}

/*tablet*/ 
@media (max-width: 991.98px) {
  .business {
    padding: 70px 0;
  }
  .business__body {
    flex-direction: column;
    align-items: inherit;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .business {
    padding: 40px 0;
  }
}
@media (max-width: 479.98px) {
  .business {
    padding: 20px 0;
  }
  .business__buttons {
    flex-direction: column;
    gap: 20px;
  }
}
.footer {
  padding: 100px 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.social-footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 348px;
}

.social-footer__logo {
  position: relative;
}

.social-footer__logo:hover img {
  max-width: 100%;
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
.social-footer__logo:hover img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.social-footer__text {
  line-height: 150%;
  color: #9C9C9C;
}

.social-footer__items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #75757F;
  height: 32px;
  width: 32px;
  border: 1px solid #75757F;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
.social__item:hover {
  border: 1px solid #5CC97B;
  color: #F4CA16;
  transform: scale(1.1);
}

.footer-column__all {
  display: flex;
  gap: 64px;
}

.column-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.column-label:not(:last-child) {
  margin-bottom: 30px;
}

.footer__item:not(:last-child) {
  margin-bottom: 24px;
}

.footer__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #9C9C9C;
}
.footer__link:hover {
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.footer-subscribe {
  max-width: 376px;
}

.column-subscribe__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.column-subscribe__title:not(:last-child) {
  margin-bottom: 30px;
}

.column-subscribe__text {
  line-height: 150%;
  color: #9C9C9C;
}

.column-subscribe__text {
  margin-bottom: 33px;
}

.form-subscribe {
  display: flex;
  align-items: center;
  gap: 16px;
}

.subscribe__input {
  border: 1px solid rgba(129, 129, 139, 0.3);
  border-radius: 50px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
  background: transparent;
  padding: 14.5px 32px;
}
.subscribe__input:hover {
  border: 1px solid rgba(198, 198, 224, 0.3);
}

.subscribe__button {
  max-width: 136px;
  padding: 14.5px 15px;
}

@media (max-width: 1087px) {
  .footer__columns {
    flex-direction: column;
    align-items: center;
  }
  .social-footer,
.footer-subscribe {
    max-width: 100%;
  }
}
/*tablet*/ 
/*mobile*/
@media (max-width: 767.98px) {
  .footer {
    padding: 50px 0;
  }
}
@media (max-width: 479.98px) {
  .footer {
    padding: 30px 0;
  }
  .form-subscribe {
    flex-direction: column;
    align-items: inherit;
  }
  .subscribe__button {
    max-width: 100%;
  }
}
/*pc*/ 
/*tablet*/ 
/*mobile*//*# sourceMappingURL=style.css.map */